body{
    font-family: Brown, sans-serif;
    font-size: 14px;
    width: 100%;
    height: auto;
    margin: 0;
    color: #333333;
}

a{
    text-decoration: none;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    margin: auto;
    width: 93%;
    height: 140px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 12;
    justify-content: space-between;
}

.burger_link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.burger_link span,
.burger_link span::before,
.burger_link span::after{
    position: absolute;
    top: 50%;
    width: 20px;
    height: 2px;
    background-color: #5a4fff;
    margin-top: -1px;
}

.burger_link span::before{
    content: '';
    transform: translateY(-6px);
    transition: 0.5s;
}

.burger_link span::after{
    content: '';
    transform: translateY(6px);
    transition: 0.5s;
}

.burger_link.active span::before{
    transform: rotate(45deg);
    transform-origin: left bottom;
    width: 10px;
}

.burger_link.active span::after{
    transform: rotate(-45deg);
    transform-origin: left bottom;
    width: 10px;
}

.navbar{
    display: flex;
    margin-right: 20px;
    display: none;
}

.navbar.active{
    display: flex;
}

.burger_link_active .navbar{
    display: flex;
}

.navbar a{
    text-decoration: none;
    color: #5a4fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.navbar a:hover{
    background-color: white;
}

.navbar div{
    margin-left: 20px;
}

.burger{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #5a4fff;
    border-radius: 50%;
    font-size: 20px;
    background-color: white;
}

.threeLines{
    display: flex;
    align-items: center;
}

.threeLines a{
    text-decoration: none;
    color: #5a4fff;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    transition: all .2s ease-in-out;
}

.logo img:hover{
    transform: scale(1.1);
}

.topper{
    margin: auto;
    width: 70%;
    margin-top: 140px;
    margin-bottom: 5%;

}

.text{
    font-weight: 700;
    font-size: 70px;
}

.checkOpenings{
    margin-top: 3%;
}

.checkOpenings_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #deddfe;
    border-radius: 10px;
    background-color: white;
    color: #5a4fff;
    transition: all .3s ease-in-out;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.024em;
    width: 385px;
    height: 88px;
    
}

.checkOpenings_button:hover{
    background-color: #5a4fff;
    border: 2px solid #5a4fff;
    color: white;
}

.checkOpenings_button b{
    font-size: 30px;
}

.midMid1{
    margin: auto;
    width: 85%;
}

.midImages1{
    display: flex;
    margin: auto;
    width: 100%;
    height: 50%;
}

.midImages1 img{
    transition: all .5s ease-in-out;
}

.midImages1 img:hover{
    transform: scale(1.1);
}

.midImages2 img{
    transition: all .5s ease-in-out;
}

.midImages2 img:hover{
    transform: scale(1.1);
}

.c-collage-image1{
    width: 18.4%;
    left: 5.4%;
    top: 3.6%;
}

.c-collage-image2{
    width: 23%;
    top: 18%;
    left: 21.5%;
}

.c-collage-image3{
    width: 16%;
    left: 45.5%;
    top: 24%;
    margin-left: 5%;
}

.c-collage-image4{
    left: 67%;
    top: 25%;
    width: 70%;
}

.midImages1_mid{
    display: flex;
    align-items: center;
}

.midImages1_mid_right{
    margin-left: 20%;
}

.midMid2{
    margin: auto;
    width: 95%;
}

.c-collage-image5{
    width: 18.5%;
    top: -1%;
    left: 79.4%;
}

.c-collage-image6{
    width: 41.8%;
    top: 56%;
    left: -1.5%;
}

.c-collage-image8{
    width: 16%;
    top: 50%;
    left: 42.6%;
}

.c-collage-image11{
    width: 32%;
    top: 50%;
    left: 59.3%;
    margin-bottom: 13%;
}

.midder1{
    width: 100%;
    height: auto;
    background: linear-gradient(#ffffff, #ede6da);
}

.midder2{
    width: 70%;
    margin: auto;
}

.midder_background{
    width: 100%;
    background: linear-gradient(#ede6da, #ffffff);
}

.text1 div{
    font-family: 'PT Serif', serif;
    font-size: 75px;
}

.midText1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text2{
    letter-spacing: -0.024em;
    line-height: 36px;
    font-weight: 300;
    color: #57586e;
    font-size: 21px;
    margin-top: 3%;
}

.text2_link{
    margin-top: 5%;
    display: flex;
}

.text2_button{
    color: #7369f5;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease-in;
}

.text2_button::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #5a4ff3;
    display: block;
    transition: .3s ease-in-out;
}

.text2_button:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #5a4ff3;
    display: block;
}

.midText2{
    width: 50%;
    margin: auto;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 20%;
    height: auto;
    border-bottom: 1px solid #ebebed;
    padding-bottom: 5%;
}

.work{
    width: 90%;
    margin: auto;
}

.text3{
    line-height: 36px;
    letter-spacing: -0.024em;
    margin-top: 5%;
    font-weight: 100;
    font-size: 19px;
    color: #57586e;
}

.midText2_img{
    z-index: -12;
    width: 100%;
    display: flex;
    margin-top: -43%;
}

.img1{
    width: 50%;
    height: 100%;
}

.img1 img{
    width: 60%;
    height: 90%;
}

.img2{
    width: 50%;
    margin-left: 250px;
    height: 100%;
    display: flex;
    justify-content: right;
}

.img2 img{
    width: 69%;
    height: 90%;    
}

.midText2_button{
    color: #7369f5;
    font-size: medium;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.midText2_button a{
    color: #5a4ff3;
}

.midText2_button a::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #5a4ff3;
    display: block;
    transition: .3s ease-in-out;
}

.midText2_button a:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #5a4ff3;
    display: block;
}

.midText3{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 18%;
}

.icon{
    font-size: 55px;
    color: #5a4fff;
    opacity: 0.3;
}

.text4 div{
    color: #5a4fff;
    font-size: 25px;
}

.midText3_img img{
    margin-top: 3%;
    border-radius: 50%;
    border: 1px solid #d7d7db;
    padding: 3px;
}

.text5{
    color: #757575;
    margin-left: 10px;
}

.midText3_author{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.midBottom{
    width: 100%;
    height: auto;
    background-image: url(https://assets.website-files.com/6010047027c80a4854f3bdd8/6022a53d46ea7b77dc4d69be_5efd1efec042e823a74571aa_bg-about-the-people.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.plate{
    margin-top: 17%;
    background: linear-gradient(#f6f1ea, #ffffff);
}

.plate_title{
    width: 70%;
    margin: auto;
    font-weight: 700;
    font-size: 40px;
}

.plate_img{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 26px;
    margin-top: 6%;
    
}

.one{
    background-image: url(https://assets.website-files.com/6010047027c80a4854f3bdd8/6022aa951033163afef79748_Rectangle%201107.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 355px;
    background-position: 50% 50%;
}
.two{
    background-size: cover;
    background-repeat: no-repeat;
    height: 355px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
}

.two_one{
    background-image: url(https://assets.website-files.com/6010047027c80a4854f3bdd8/6022aa95096cfe36f3fab98f_Rectangle%201108.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.two_two{
    background-image: url(https://assets.website-files.com/6010047027c80a4854f3bdd8/6022aa9446ea7b529d4d84d2_Mask%20Group-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.two_three{
    grid-column: 1/3;
    display: flex;
    align-items: center;
}

.two_three_text{
    color: #757575;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.two_four{
    background-image: url(https://assets.website-files.com/6010047027c80a4854f3bdd8/6022aa9532549863506f4f28_Mask%20Group-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/3;
    background-position: 50% 50%;
}

.author1{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.author_text{
    margin-left: 5%;
    font-size: 13px;
}

.three{
    background-image: url(https://assets.website-files.com/6010047027c80a4854f3bdd8/6022aa95b361e577cfd2f599_Mask%20Group.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 355px;
    background-position: 50% 50%;
}
.four{
    background-size: cover;
    background-repeat: no-repeat;
    height: 355px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 26px;
}

.four_one{
    background-image: url(https://assets.website-files.com/6010047027c80a4854f3bdd8/6022aa9528d64f2c6ec76b29_Mask%20Group-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/3;
    background-position: 50% 50%;
}

.four_two{
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
}

.four_two_one{
    height: 100px;
    background-image: url(https://assets.website-files.com/6010047027c80a4854f3bdd8/6022aa959182432d65206701_Mask%20Group-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.four_two_two{
    height: 100px;
    background-image: url(https://assets.website-files.com/6010047027c80a4854f3bdd8/6022aa955020f371a06834ec_Rectangle%201114.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.four_three{
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.five{
    background-image: url(https://assets.website-files.com/6010047027c80a4854f3bdd8/6022aa95431e4041928ffe16_Rectangle%201115.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 355px;
    background-position: 50% 50%;
}

.author2{
    display: flex;
    align-items: center;
}

.midBottom_text{
    width: 70%;
    margin: auto;
    margin-top: 10%;
}

.text6 div{
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
    letter-spacing: -0.024em;
}

.inclusion{
    margin-top: 3%;
}

.inclusion_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #deddfe;
    border-radius: 10px;
    background-color: none;
    color: #5a4fff;
    width: 533px;
    height: 88px;
    transition: all .3s ease-in-out;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.024em;
}

.inclusion_button:hover{
    background-color: #5a4fff;
    border: 2px solid #5a4fff;
    color: white;
}

.inclusion_button b{
    font-size: 30px;
}

.text7{
    margin-top: 10%;
    height: 700px;
    width: 100%;
    border-bottom: 1px solid #ebebed;
    padding-bottom: 8%;
}

.text7_title{
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: -0.024em;
}

.blocks{
    height: 640px;
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.block1{
    width: 400px;
    height: 640px;
}

.block2{
    width: 50%;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}


.block1_one{
    display: flex;
    align-items: center;
    height: 130px;
    margin-bottom: 5%;
}

.block_description{
    margin-left: 3%;
    margin-top: 4%;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.024em;
    height: 45px;
    color: #38364d;
}

.block_description div{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700    ;
    letter-spacing: -0.02em;
    color: #9b9ba6;
    margin-top: 8%;
}

.bottom{
    width: 70%;
    margin: auto;
    height: auto;
    margin-bottom: 8%;
    margin-top: 8%;
}

.bottom_top_title{
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: -0.024em;
}

.bottom_top_content{
    margin-top: 10%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    flex-direction: column;
}

.nav span{
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 35%;
    cursor: pointer;
}

.nav button{
    border: none;
    background: none;
}

.all{
    
    color: #5a4fff;
}

.service{
    color: #888694;
}

.eng{
    color: #888694;
}

.operate{
    color: #888694;
}

.design{
    color: #888694;
}

.nav_right_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 684px;
}

.nav_right_top div{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.024em;
}

.nav_right_top small{
    color: #737282;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.heading{
    display: flex;
    align-items: center;
    width: 500px;
}

.heading div{
    margin-left: 5%;
}

.nav_right_bottom{
    margin-top: 3%;
}

.nav_right_bottom_text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #737282;
}

.nav_right_bottom_button{
    width: 110px;
    margin-top: 3%;
}

.bottom_buttons{
    color: #5a4ff3;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 110px;
}

.bottom_buttons::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #5a4ff3;
    display: block;
    transition: .3s ease-in-out;
}

.bottom_buttons:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #5a4ff3;
    display: block;
}

.bottom_buttons b{
    font-size: 20px;
    margin-right: 3%;
}

.first{
    padding-bottom: 4%;
    border-bottom: 1px solid #ebebed;
    margin-bottom: 5%;
}

.email{
    text-align: center;
    margin-top: 10%;
}

.email_title1{
    color: #737282;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.email_title2{
    color: #5a4fff;
    font-size: 32px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: -0.024em;
}

#email{
    color: #5a4fff;
    font-size: 32px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: -0.024em;
    width: 350px;
}

#let{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.checkBack{ 
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

.back{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.024em;
}

.open{
    color: #57586e;
    font-size: 21px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: -0.024em;
}

.bottom_bottom{
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
}

.bottom_bottom_left{
    width: 50%;
}

.bottom_bottom_left h4{
    color: #737282;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.bottom_bottom_left h1{
    color: #5a4fff;
    font-size: 32px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: -0.024em;
}

.bottom_bottom_right{
    margin-top: 3%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

#arrow b{
    font-size: 30px;
    color: #5a4fff;
    cursor: pointer;
}

#arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    width: 90%;
    border: none;
    border-bottom: 1px solid #5a4fff;
    font-family: Brown, sans-serif;
    color: #38364d;
    font-size: 21px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: -0.01em;
    margin-left: 5%;
    outline: none;
}

.form{
    width: 100%;
}

.footer{
    width: 100%;
    height: 160px;
    background-color: #5a4fff;
    display: flex;
    align-items: center;
}

.footer_mid{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.privacy{
    display: flex;
    align-items: center;
    width: 50%;
}

.policy{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: white;
    margin-left: 2%;
    font-weight: 700;
}

.policy::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .3s ease-in-out;
}

.policy:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
}

.bottom_logo{
    opacity: 0.7;
    transition: all .3s ease-in-out;
}

.bottom_logo:hover{
    transform: scale(1.1);
    opacity: 1;
}

.social{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.social a{
    padding: 2%;
    opacity: 0.5;
    transition: all .2s ease-in-out;
}

.social a:hover{
    opacity: 1;
}

/*desktop*/
@media only screen and (max-width: 1440px){

    .text{
        font-size: 40px;
    }

    .checkOpenings_button{
        font-size: 13px;
        width: 290px;
        height: 80px;
    }

    .img1{
        width: 50%;
    }

    .img2{
        width: 50%;
        margin-left: 250px;
    }

    .two_three_text{
        font-size: 11px;
    }

    .text2_button{
        font-size: 17px;
    }

    .author_text{
        font-size: 11px;
    }

    .block1{
        width: 400px;
    }

    .text1 div{
        font-size: 60px;
    }

    .text2 div{
        font-size: 17px;
    }

    .midText2_title{
        font-size: 40px;
    }

    .text3 div{
        font-size: 14px;
    }

    .text4 div{
        font-size: 17px;
    }

    .midText2_button{
        font-size: 14px;
    }

    .text5{
        font-size: 11px;
    }

    .plate_title{
        font-size: 30px;
    }

    .text6 div{
        font-size: 30px;
    }

    .inclusion_button{
        font-size: 13px;
        width: 350px;
        height: 80px;
    }

    .text7_title{
        font-size: 30px;
    }

    .block_description{
        font-size: 16px;
    }

    .block_description div{
        font-size: 13px;
    }

    .bottom_top_title{
        font-size: 30px;
    }

    .nav span{
        font-size: 10px;
    }

    .heading div{
        font-size: 16px;
    }

    .nav_right_bottom_text{
        font-size: 13px;
    }

    .nav_right_top small{
        font-size: 10px;
    }

    .bottom_buttons{
        font-size: 13px;
    }

    .email_title2{
        font-size: 25px;
    }
    
    #let a{
        font-size: 25px;
        margin-left: 0px;
    }

    #email{
        width: 275px;
    }

    .bottom_bottom_left h1{
        font-size: 25px;
    }

    .input{
        font-size: 16px;
    }

    .policy{
        font-size: 14px;
    }
}

@media only screen and (max-width: 1200px){
    .first{
        width: 400px;
    }

    .nav_right{
        width: 400px;
    }

    .heading{
        width: 350px;
    }

    .nav_right_top{
        width: 550px;
    }

    .bottom_top_content{
        display: flex;
        width: 550px;
    }

    .email_title2{
        font-size: 20px;
    }

    #let a{
        font-size: 20px;
    }

    #email{
        width: 225px;
    }

    .email_title1{
        font-size: 10px;
    }

    .bottom_bottom_left h1{
        font-size: 20px;
    }
}

@media only screen and (max-width: 992px){
    .text1 div{
        font-size: 38px;
    }

    .text2 div{
        font-size: 13px;
    }

    .text2_button{
        font-size: 13px;
    }

    .midText2_title{
        font-size: 30px;
    }

    .text3 div{
        font-size: 13px;
    }

    .midText2_button{
        font-size: 13px;
    }

    .icon{
        font-size: 45px;
    }

    .midText3{
        margin-top: 180px;
    }

    .text4 div{
        font-size: 15px;
    }

    .midText3_img img{
        width: 33px;
        height: 33px;
    }

    .two_three_text{
        font-size: 7px;
    }

    .author_text{
        font-size: 7px;
    }

    .midText3_img img{
        width: 20px;
        height: 20px;
    }

    .midText3_img{
        width: 28px;
        height: 28px;
    }

    .plate_title{
        font-size: 25px;
    }

    .text6 div{
        font-size: 25px;
    }

    .inclusion_button{
        height: 70px;
    }

    .checkOpenings_button{
        height: 70px;
    }

    .block1{
        width: 50%;
    }

    .block2{
        width: 50%;
    }

    .text7_title{
        font-size: 25px;
    }

    .block_description{
        font-size: 13px;
    }

    .block_description div{
        font-size: 11px;
    }

    .bottom_top_title{
        font-size: 25px;
    }

    .nav_right_bottom_text{
        font-size: 10px;
    }

    .nav_right_top{
        width: 400px;
    }

    .heading div{
        font-size: 13px;
    }

    .nav_right_top small{
        width: 70px;
        font-size: 9px;
    }

    .nav span{
        font-size: 9px
    }

    .bottom_buttons{
        font-size: 11px;
    }

    .email_title1{
        font-size: 9px;
    }

    .email_title2{
        font-size: 16px;
    }

    #let a{
        font-size: 16px;
        width: 180px;
    }

    .bottom_bottom_left h4{
        font-size: 9px;
    }

    .bottom_bottom_left h1{
        font-size: 16px;
    }

    .input{
        font-size: 13px;
    }

    .policy{
        font-size: 11px;
    }
}

@media only screen and (max-width: 768px){
    .texts{
        text-align: center;
    }

    .text{
        font-size: 25px;
    }

    .checkOpenings{
        display: flex;
        justify-content: center;
    }

    .checkOpenings_button{
        width: 200px;
        height: 50px;
        font-size: 11px;
    }

    .checkOpenings_button b{
        font-size: 20px;
    }

    .midText1{
        flex-direction: column;
    }

    .text1{
        text-align: center;
    }

    .text1 div{
        font-size: 30px;
    }

    .text2 div{
        text-align: center;
        font-size: 11px;
    }

    .text2_link{
        display: flex;
        justify-content: center;
    }

    .midText2_button{
        font-size: 9px;
    }

    .text4 div{
        font-size: 11px;
    }

    .text5{
        font-size: 9px;
    }

    .nav_right{
        width: 200px;
    }

    .bottom_top_content{
        display: block;
        width: 100%;
    }

    .nav_right{
        width: 100%;
    }

    .nav{
        width: 200px;
    }

    .nav span{
        margin-bottom: 15px;
    }

    .first{
        width: 100%;
    }

    .nav_right_bottom_text{
        width: 100%px;
    }

    .nav_right_top{
        width: 100%;
    }

    .navbar a{
        font-size: 13px;
    }

    .navbar div{
        margin: 0;
    }
}

@media only screen and (max-width: 480px){
    .logo{
        display: none;
    }

    .threeLines{
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .midText2_title{
        font-size: 20px;
    }

    .text2 div{
        font-size: 9px;
        letter-spacing: 0em;
        line-height: 2em;
    }

    .text2_button{
        font-size: 9px;
    }

    .text3{
        margin-top: 20px;
    }

    .text3 div{
        font-size: 9px;
        letter-spacing: 0em;
        line-height: 2em;
    }

    .midText2_button a{
        font-size: 9px;
    }

    .img1, .img2{
        display: none;
    }

    .icon{
        font-size: 35px;
    }

    .text5{
        font-size: 8px;
    }

    .plate_title{
        font-size: 16px;
        text-align: center;
    }

    .two_three_text{
        font-size: 6px;
        letter-spacing: 0em;
        line-height: 2em;
        text-align: center;
    }
    
    .author_text{
        font-size: 6px;
        letter-spacing: 0em;
        line-height: 2em;
    }

    #midText3_img{
        display: flex;
        justify-content: center;
    }

    #midText3_img img{
        width: 10px;
        height: 10px;
    }

    .author1{
        flex-direction: column;
    }

    .author_text{
        text-align: center;
        font-size: 5px
    }

    .text6 div{
        font-size: 16px;
        letter-spacing: 0em;
        line-height: 2em;
        text-align: center;
    }

    .inclusion{
        width: 100%;
    }

    .inclusion_button{
        font-size: 9px;
        width: 100%;
    }

    .inclusion_button b{
        font-size: 20px;
    }

    .plate_img{
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .four_two{
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .four{
        grid-row-gap: 5px;
    }

    .two{
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .text7_title{
        font-size: 20px;
        text-align: center;
    }

    .block_description{
        font-size: 11px ;
    }

    .block1{
        width: 100%;
    }

    .block1_one{
        height: 70px;
        margin-bottom: 10px;
    }

    .block_description{
        margin: 0px;
        margin-left: 5px;
        height: 20px;
    }

    .block_description div{
        font-size: 9px;
        margin-top: 0px;
    }

    .block2{
        width: 100%;
    }
    
    .blocks{
        flex-direction: column;
    }

    .bottom_top_title{
        text-align: center;
        font-size: 20px;
    }

    .nav span{
        margin-bottom: 10px;
    }

    .heading div{
        font-size: 11px;
        margin-left: 3px;
    }

    .nav_right_top small{
        font-size: 5px;
        width: 80px;
    }

    .nav_right_bottom_text{
        font-size: 9px;
    }

    .nav_right_bottom_button a{
        font-size: 9px;
    }

    .nav_right_bottom_button b{
        font-size: 15px;
    }

    .email_title1{
        font-size: 6px;
    }

    .email_title2{
        font-size: 11px;
    }

    #let a{
        font-size: 11px;
        width: 120px;
    }

    .bottom_bottom_left h4{
        font-size: 6px;
    }

    .bottom_bottom_left h1{
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0em;
    }

    .bottom_bottom_right img{
        display: none;
    }

    #arrow b{
        font-size: 20px;
    }

    .input{
        font-size: 11px;
    }

    .policy{
        font-size: 9px;
        margin-left: 10px;
    }

    .bottom_logo{
        width: 25px;
        height: 25px;
    }

    .c-footer-social_link_icon{
        width: 15px;
        height: 15px;
    }

    .navbar a{
        font-size: 11px;
    }

    .navbar div{
        margin: 0;
    }
}