.blocks
    display: flex
    width: 1000px
    height: 850px
    justify-content: space-between
    margin-top: 30px
    &__items
        width: 400px
        height: 800px
        img
            border-radius: 50%
            width: 400px
            height: 400px
        a
            text-decoration: none
        h1
            color: black
        h4
            color: black
        span
            color: gray
        p
            color: grey
            font-size: 25px
        
@media screen and (min-width: 300px)
    .blocks 
        width: 250px
        height: 330px
        margin-top: 10px
        &__items
            width: 100px
            height: 370px
            img
                width: 100px
                height: 100px
            h4
                font-size: 10px
            h1
                font-size: 10px
            p
                font-size: 10px

@media screen and (min-width: 600px)
    .blocks
        width: 500px
        height: 450px   
        &__items
            width: 225px
            height: 450px
            img
                width: 200px
                height: 200px
            h4
                font-size: 15px
            h1
                font-size: 15px
            p
                font-size: 15px

@media screen and (min-width: 900px)
    .blocks
        width: 800px
        height: 650px
        &__items
            width: 350px
            height: 650px
            img
                width: 300px
                height: 300px
            h4
                font-size: 20px
            h1
                font-size: 25px
            p
                font-size: 25px
