.before-footer
    margin: 0 auto
    width: 1000px
    display: flex
    justify-content: space-between
    &__first
        width: 400px
        height: 200px
        h2
            color: #5a4fff
            // letter-spacing: 1px
        h5
            color: #737282
    &__second
        width: 400px
        height: 200px
        display: flex

.input-field
    margin-top: 30px
    height: 50px
    position: relative
    width: 100%
    input
        height: 100%
        width: 320px
        // position: absolute
        padding: 0 35px
        border: none
        outline: none
        border-bottom: 2px solid #ccc
        border-top: 2px solid transparent
        font-size: 16px
        transition: all 0.2s ease
    input:is(:focus, :valid)
        border-bottom-color: #5a4fff
    i
        position: absolute
        top: 50%
        // left: 0
        transform: translateY(-50%)
        color: #999
        font-size: 23px
    input:is(:focus, :valid) ~ i
        color: #5a4fff
    i.icon 
        left: 0
    i.noci
        right: 0
        cursor: pointer
        padding: 10px

@media screen and (min-width: 300px)
    .before-footer
        width: 250px
        height: 100px
        &__first
            width: 100px
            height: 100px
            h5
                font-size: 15px
                margin: 0
            h2
                font-size: 10px
        &__second
            width: 100px
            height: 100px
 

@media screen and (min-width: 600px)
    .before-footer
        width: 500px
        height: 150px
        &__first
            width: 200px
            height: 150px
            h5
                font-size: 30px
                margin: 0
            h2
                font-size: 15px
        &__second
            width: 200px
            height: 150px

@media screen and (min-width: 900px)
    .before-footer
        width: 800px    
        height: 150px
        &__first
            width: 300px
            height: 150px
            h5
                font-size: 35px
            h2
                font-size: 17px
        &__second
            width: 300px
            height: 150pxd