.footer 
    height: 150px
    background-color: #5a4fff
    margin: 0 auto
    &__container
        margin: 0 auto
        width: 1000px
        height: 150px
        display: flex
        align-items: center
        justify-content: space-between
    &__first
        display: flex
        justify-content: space-between
        width: 170px
        align-items: center
        a
            text-decoration: none
            color: white
            font-size: 15px
            font-weight: 600
    &__second
        display: flex
        justify-content: space-between
        width: 140px
        img
            width: 25px
            height: 25px
            color: white