.nav-bar
    height: 150px
    // background-color: #b595c9
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 50px

@media screen and (max-width: 300px)
    .nav-bar
        height: 50px
        padding: 0 10px
        img
            width: 30px
            height: 30px

